.container *{
  margin:0;
  padding:0;
  font-family: 'Hiragino Sans GB', 'Helvetica Neue', 'Microsoft Yahei',Arial, sans-serif;
  color:#313131;
}

.container {
  border: 1px solid #E1E1E1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  margin: 0px auto;
}

.left{
  float: left;
  box-sizing: border-box;
}

.container span,.container input{
  position: absolute;
  font-size: 14px;
  background: none;
  outline: none;
  display: inline-block;
  line-height: 33px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding:0 10px;
}
.container div{
  position: absolute;
  border-radius: 2px;
}
