.wrap *{margin:0;padding:0;list-style: none;outline: none;}
.sub_nav{background: #FFFFFF;box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);width: 100%;height: 60px;}
.sub_nav *{margin:0;padding:0;list-style: none;outline: none;}
.sub_nav h2{font-size: 16px;line-height:60px;color: #313131;width: 180px;margin-left: 20px;_display:inline;float: left;}
.menus{width: 55%;float: left;position: relative;box-sizing: border-box;-webkit-box-sizing: border-box;}
.menus .pre,.menus .next{display: inline-block;width: 22px;height: 32px;background: #EBEBEB;border-radius: 2px;cursor: pointer;position: absolute;left: 0;top:14px;line-height: 30px;text-align: center;color:#C1C1C1;}
.menus .next{left:auto;right:0;}
.menus .pre:hover,.menus .next:hover{background: #D1D1D1;color:#A8A8A8;}
.menus .pre i:before{content:"\e900";font-size:12px;}
.menus .next i:before{content:"\e901";font-size:12px;}
.menus div{display:inline-block;overflow:auto;line-height:60px;width: 100%;white-space: nowrap;}
/*.menus ul{width: 885px;}*/
.menus li{height:32px;display: inline-block;border: 1px solid #C1C1C1;border-radius: 2px;position: relative;color:#919191;cursor: pointer;margin:0 5px;box-sizing: border-box;-webkit-box-sizing: border-box;line-height: 32px!important;}
.menus li input{height: 26px;display: block;min-width: 50px;max-width: 100px}
.menus li b{padding:0 14px;display: inline-block;height:32px;line-height:32px;font-weight: normal;}
.menus li:hover{color:#3DCC61;border-color: #3DCC61;}
/*.menus .tag{padding:0 14px;height:32px;line-height:32px;display: inline-block;border: 1px solid #C1C1C1;border-radius: 2px;position: relative;color:#919191;cursor: pointer;margin:0 5px;box-sizing: border-box;-webkit-box-sizing: border-box;}*/
.menus .highlight{color:#3DCC61;border-color: #3DCC61;}
.delete{width: 14px;height: 14px;background: #fff;display: block;position: absolute;right: -7px;top:-7px;overflow: hidden;line-height: 12px;}
@font-face {
  font-family: 'iconfont';
  src: url('https://pbu-public.oss-cn-beijing.aliyuncs.com/webapps/pbu_document/font/icomoon.eot');
  src: url('https://pbu-public.oss-cn-beijing.aliyuncs.com/webapps/pbu_document/font/icomoon.eot?#iefix') format('embedded-opentype'),
  /* IE6-IE8 */
  url('https://pbu-public.oss-cn-beijing.aliyuncs.com/webapps/pbu_document/font/icomoon.woff') format('woff'),
  /* chrome、firefox */
  url('https://pbu-public.oss-cn-beijing.aliyuncs.com/webapps/pbu_document/font/icomoon.ttf') format('truetype'),
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('https://pbu-public.oss-cn-beijing.aliyuncs.com/webapps/pbu_document/font/icomoon.svg#iconfont') format('svg');
  /* IE9*/ /* iOS 4.1- */
}
.iconfont {font-family: "iconfont";font-style: normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;
            }
.delete i:before{content:"\e902";font-size: 14px;}
.btn_group{float: right;margin-right: 30px;_display:inline;margin-top:10px;}
.btn_group button{width: 140px;height: 40px;background: #3DCC61;border-radius: 2px;font-size: 14px;color:#fff;border:0;}
.btn_group button:hover{background: #35B355;cursor: pointer;}
.btn_group .clear{background: #fff;color:#3DCC61;border:1px solid #3DCC61;margin-right: 10px;}
.btn_group .clear:hover{color:#35B355;border-color: #35B355;background: #fff;}
.content{
  width: 1220px;
  margin:30px auto;
  overflow: hidden;
}
.content input, textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
  }

.content input:focus, textarea:focus {
    box-shadow: 0 0 5px #3dcc61;
    border: 1px solid #3dcc61;
}
.right_container{float: left;margin-left: 20px;_display:inline;}
.right_container label{display: block;margin-bottom: 10px;cursor: pointer;}
.right_container label span{display: inline-block;width: 120px;height: 32px;background: #E66963;color:#fff;font-size: 14px;line-height: 32px;text-align: center;margin-left: 10px;border: 1px solid #E66963;}
.right_container label:nth-child(2) span{background: #A28DDD;border: 1px solid #917EC4;}
.right_container label:nth-child(3) span{background: #95DF7D;border: 1px solid #84C46E;}
.right_container label:nth-child(4) span{background: #FAA755;border: 1px solid #E0964C;}
.msg{background: #F4F4F4;border: 1px solid #EBEBEB;border-radius: 2px;width: 200px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;font-size: 12px;padding:12px 20px 18px;margin-top:65px;}
.msg p{margin-top:5px;line-height: 18px;color:#616161;}
.msg p span{font-weight: 500!important;}
.detail {
  border: 1px solid #E1E1E1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.detail *{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;font-size: 14px;}
.left{
  float: left;
  box-sizing: border-box;
}
/*.detail div{position: absolute;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border-radius: 2px;}*/
.detail input{width: 100%;height: 100%;border:0;background: none;}
.time{width: 30px;height: 26px;}
.detail div i{position: absolute;right:0;cursor: pointer;}
.detail div i:before{content:"\e902";font-size: 12px;}
.type{width: 21px;height: 26px;}
.num{width: 51px;height: 26px;}
.summary{width: 113px;height: 26px;}
.subject{width: 89px;height: 26px;}
.debtor{width: 173px;height: 26px;}
.debtor input,.lender input,.balance input{text-align: right;letter-spacing: 5px;}
.lender{width: 178px;height: 26px;}
.sign{width: 38px;height: 26px;}
.balance{width: 172px;height: 26px;}
.check{width: 16px;height: 26px;}
